services:
  dtrack:
    image: dependencytrack/bundled:4.13.6
    ports:
    - "127.0.0.1:8080:8080"
    restart: unless-stopped

  dtapac:
    build: ../../../
    environment:
      DTRACK_URL: "http://dtrack:8080"
      DTRACK_APIKEY: "changeme"
      OPA_URL: "http://opa:8181"
      FINDING_POLICY_PATH: "/dtapac/finding"
      VIOLATION_POLICY_PATH: "/dtapac/violation"
      PORTFOLIO_ANALYSIS_INTERVAL: "1m"
      LOG_LEVEL: "debug"
    ports:
    - "127.0.0.1:8081:8080"
    restart: unless-stopped

  opa:
    image: openpolicyagent/opa:1.12.1
    command:
    - run
    - --server
    - --addr
    - :8181
    - --log-format=json-pretty
    - --set=decision_logs.console=true
    - --set=status.console=true
    - --watch
    - /opt/dtapac/policies
    ports:
    - "127.0.0.1:8181:8181"
    volumes:
    - "../../policies:/opt/dtapac/policies"
    restart: unless-stopped
