name: Policy CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Setup OPA
      uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
      with:
        version: latest
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Check
      run: >
        opa check ./examples/policies
        --schema ./examples/schemas
        --strict
        --format pretty
    - name: Test
      run: opa test -v ./examples/policies

  package:
    name: Package
    runs-on: ubuntu-latest
    needs:
    - test
    steps:
    - name: Setup OPA
      uses: open-policy-agent/setup-opa@950f159a49aa91f9323f36f1de81c7f6b5de9576 # v2.3.0
      with:
        version: latest
    - name: Checkout Repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Build Bundle
      run: opa build -o ./bundle.tar.gz -r ${{ github.sha }} ./examples/policies
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: policy-bundle
        path: ./bundle.tar.gz